absl-py==1.0.0
albumentations==1.1.0
alembic==1.7.5
altair==4.1.0
anyio==3.3.4
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.4.1
astor==0.8.1
attrs==21.2.0
autopage==0.4.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.10.0
bleach==4.1.0
blinker==1.4
bs4==0.0.1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.7
click==7.1.2
cliff==3.9.0
cmaes==0.8.2
cmd2==2.3.1
colorama==0.4.4
colorlog==6.6.0
cycler==0.11.0
Cython==0.29.24
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
efficientnet-pytorch==0.7.1
entrypoints==0.3
fastapi==0.70.1
filelock==3.4.0
fire==0.4.0
fonttools==4.28.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
greenlet==1.1.2
grpcio==1.42.0
h11==0.12.0
identify==2.4.0
idna==3.3
imageio==2.13.2
importlib-metadata==4.8.1
importlib-resources==5.4.0
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.6
jsonschema==4.2.1
jupyter-client==6.1.12
jupyter-core==4.9.1
jupyter-lsp==1.5.0
jupyter-server==1.11.2
jupyter-server-mathjax==0.2.3
jupyterlab==3.2.2
jupyterlab-git==0.34.0
jupyterlab-lsp==3.9.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lmdb==1.2.1
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
mistune==0.8.4
natsort==8.0.0
nbclassic==0.3.4
nbclient==0.5.4
nbconvert==6.2.0
nbdime==3.1.1
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nodeenv==1.6.0
notebook==6.4.5
numpy==1.21.4
oauthlib==3.1.1
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
optuna==2.4.0
packaging==21.2
pandas==1.1.5
pandocfilters==1.5.0
parso==0.8.2
pbr==5.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
pre-commit==2.9.3
prettytable==2.4.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psycopg2-binary==2.9.2
ptflops==0.6.6
ptyprocess==0.7.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.10.0
Pympler==0.9
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
qudida==0.0.4
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.19.0
scikit-learn==0.24.1
scipy==1.7.2
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.1
split-folders==0.4.3
SQLAlchemy==1.4.27
starlette==0.16.0
stevedore==3.5.0
streamlit==0.76.0
streamlit-cropper==0.1.3
streamlit-image-crop==0.2.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
thop==0.0.31.post2005241907
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch==1.10.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
uvicorn==0.16.0
validators==0.18.2
virtualenv==20.10.0
voila==0.2.16
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
zipp==3.6.0
